<div class="relative flex flex-col justify-center items-center w-full">
	<embed type="{{section.embedType}}" src="{{section.url}}" width="{{section.width}}%" height="{{section.height}}px">
	<span class="font-light mt-4 text-primary-text">
		<span class="font-bold inline text-primary-text">{{ section.title }} {% if section.description | length > 0 %}-{% endif %} </span>
		<span class="">{{ section.description }}</span>
	</span>
</div>
