<div class="masonry-grid -mx-2">
	{% set imageID = 0 %}
	{% asyncEach image in projectSection.gallery %}
		{% set altText %}
			{% if image.asset.altText != null %}
				{{ image.asset.altText }}
			{% else %}
				Project: {{ project.title }}; Image Title: {% if image.asset.title != null %} {{ image.asset.title }} {% else %} {{ imageID + 1 }} {% endif %}
			{% endif %}
		{% endset %}
		<div class="flex flex-col px-2 pb-4">
			{% image image, "relative m-0 w-full h-auto min-w-full", altText %}
			<span class="font-light mt-4 text-primary-text">
				<span class="font-bold inline">{{ image.asset.title }} - </span>
				{{ image.asset.description }}
			</span>
		</div>
		{% set imageID = imageID + 1 %}
	{% endeach %}
</div>

<div class="z-20 fixed inset-0 min-h-full flex flex-col items-center justify-center
	before:-z-1 before:absolute before:inset-0 before:bg-black before:opacity-90 pt-[--header-total-height] w-full">
	<div class="flex main-padding flex-row justify-end w-full right-0 pt-[--header-total-height] top-4 absolute">
		<label class="group relative right-0 w-[--header-item-height] h-[--header-item-height] z-10 cursor-pointer block">
			<input aria-label="Close Gallery" id="galleryButton" type="checkbox" class="left-1/2 -translate-x-1/2
				cursor-pointer transition-all translate-y-0.5 appearance-none
				h-0

				before:relative before:origin-center before:rounded before:block before:w-full before:h-1 before:bg-opposite-bg before:top-0

				relative origin-center block rounded w-full bg-opposite-bg top-2

				after:relative after:origin-center after:rounded after:block after:w-full after:h-1 after:bg-opposite-bg after:-top-1

				motion-safe:group-hover:scale-110

				duration-0 before:duration-200 after:duration-200

				before:-rotate-45 before:bg-white
				after:rotate-45
				after:bg-white
			"/>
		</label>
	</div>
	<div class="flex flex-col my-auto main-padding max-h-[85%] max-w-full pb-16">
		{% image projectSection.gallery[0], "relative m-0 w-full h-auto max-h-full max-w-full object-contain", altText %}
		<span class="font-light mt-2 text-white text-center">
			<span class="font-bold inline text-white">{{ projectSection.gallery[0].asset.title }} - </span>
			{{ projectSection.gallery[0].asset.description }}
		</span>
	</div>
	<div class="w-full pt-4 flex flex-row main-padding text-white absolute bottom-4">
		<span class="text-white">← <a aria-label="Previous image in gallery." href="" class="text-white font-extrabold hover:underline">
			prev
		</a></span>	
		<span class="justify-self-end ml-auto text-white"><a aria-label="Next image in gallery." href="" class="text-white font-extrabold hover:underline">
			next
		</a> →</span>	
	</div>
</div>