{% macro projectDateTags(project) %}
	<span class="text-md font-medium text-medium-accent">{% dateConverter project.date, 0 %} | 
		{% for tag in project.tags %}
			<span class="text-medium-accent font-light">
			<a aria-label="Link to the archive page with this tag selected." class="project-tag hover:underline" data-tag="{{ tag.title | slug }}"
				href="{{ site.navigation.archivePageSlug }}/?archive={{ tag.title | slug }}"> {{ tag.title }}</a>
			{% if not loop.last %}
				,
			{% endif %}
			</span>
		{% endfor %}
	</span>
{% endmacro %}