{#
	About Section - built using site about data.
#}
{# Required since nunjucks 'for' creates a new scope if variable doesnt already exist #}

<div class="main-padding w-full flex flex-col">
	<div class="pb-8">
		{% if section.downloadCV !== '' %}
			<a target="_blank" href="{{ site.about.curriculumVitaeURL }}" class="font-light underline">{{ section.downloadCV }}</a>
		{% endif %}
	</div>
	<div class="mt-12 lg:m-0 transition-all duration-150 max-w-prose-short xl:max-w-prose flex-grow-0">
		{% portableTextToHTML site.about.description %}
	</div>
</div>