{#
	Contact Form.
#}

{% set formName %}
	{% if section.formName %}
		{{ section.formName }}
	{% else %}
		contact
	{% endif %}
{% endset %}

{% set successMessage %}
	{% if section.successMessage %}
		{{ section.successMessage }}
	{% else %}
		Message submitted successfully!
	{% endif %}
{% endset %}



<div class="relative flex flex-col w-full main-padding">
	<a href="mailto:{{ site.about.email }}" class="relative font-light underline leading-normal pb-8">
		{{ site.about.email }}
	</a>

	<form id="formContainer" class="w-full max-w-prose-full mb-8" name="{{ formName | slug }}"
		method="POST" action="{{ pageData.slug | slug }}/?submit=success" netlify>
		
		<div class="w-full mb-8">
			<label for="name" class="block mb-4 tracking-wider font-medium leading-none">Name <span class="align-super text-failure-accent">*</span></label>
			<input type="text" id="name" name="name" placeholder="Name"
				class="block p-2 w-full bg-secondary-bg text-primary-text outline-2 !outline-primary-border outline
					invalid:outline invalid:outline-2 invalid:outline-failure-accent"
			required/>
		</div>

		<div class="w-full mb-8">
			<label for="email" class="block mb-4 tracking-wider font-medium leading-none">Email <span class="align-super text-failure-accent">*</span></label>
			<input type="email" id="email" name="email" placeholder="Email"
				class="block p-2 w-full bg-secondary-bg text-primary-text outline-2 outline-primary-border outline
					invalid:outline invalid:outline-2 invalid:outline-failure-accent
					placeholder-shown:!outline-primary-border" 
			required/>
		</div>

		<div class="w-full mb-8">
			<label for="message" class="block mb-4 tracking-wider font-medium leading-none">Message <span class="align-super text-failure-accent">*</span></label>
			<textarea id="message" name="message" rows="6" maxlength="3000" placeholder="Message"
				class="block p-2 w-full bg-secondary-bg text-primary-text outline-2 !outline-primary-border outline focus:outline-primary-border
					invalid:outline invalid:outline-2 invalid:outline-failure-accent"
			required></textarea>
		</div>

		<div class="block md:inline mb-8">
			<div class="relative md:inline-block md:pr-16">
				<button class="relative block px-12 py-2 w-full bg-secondary-bg text-primary-text font-medium overflow-hidden 
					active:opacity-60 outline-2 outline-primary-border outline focus:outline-primary-border">
						<span class="relative z-10">Send</span>
				</button>
			</div>	
		</div>

		<div class="block md:inline mb-12">
			<span id="successMessage" class="hidden font-bold text-success-accent">{{ successMessage }}</span>
		</div>
	</form>
</div>