{% if pageData.content.titleSection %}
	{% from "layouts/components/titles/standard.njk" import title %}
	{{ title(titleText=pageData.title) }}
{% endif %}
{% set allButtonPlaced = false %}

<div id="{{pageData.title|slug}}-archive" data-filterable="{{ pageData.content.filterable }}" name="{{pageData.title|slug}}" class="archive main-padding w-full">
	<div class="relative select-none py-4">

		{% if (pageData.content.filterable) %}
			{# Hidden tags are filtered out in query #}
			{% for tag in pageData.content.tags %}
				{% if pageData.content.allTagPriority >= tag.priority and not allButtonPlaced %}
					<span class="inline-block">
						<button class="tag-button text-xl font-medium text-primary-text" data-tag="all" title="All">
							all
						</button>{% if not loop.last %}<span class="text-xl font-medium text-primary-text">,&nbsp&nbsp</span>{% endif %}
						{% set allButtonPlaced = true %}
					</span>
				{% endif %}
				<span class="inline-block">
					<button class="tag-button text-xl font-medium text-primary-text" data-tag="{{ tag.title | slug }}" title="Sort for: {{ tag.title }}">
						{{ tag.title | slug }}
					</button>{% if not loop.last %}<span class="text-xl font-medium text-primary-text">,&nbsp&nbsp</span>{% endif %}
				</span>
			{% endfor %}
		{% endif %}

	</div>

	{% include ('layouts/templates/archives/' + pageData.content.archiveType + '.njk') %}
</div>
