{% set previousPost = collections.texts | getPreviousCollectionItem(page) %}
{% set nextPost = collections.texts | getNextCollectionItem(page) %}

{% from "layouts/components/titles/standard.njk" import title %}
{{ title(titleText=text.title) }}

<div id="singleText" class="main-padding padding-top w-screen relative h-full">

	{% from "layouts/utilities/dateTags.njk" import dateTags %}
	{{ dateTags(item=text, archiveSlug=site.navigation.textsPrimaryArchiveSlug) }}

	<div id="{{ text.title | slug }}-content" class="grid gap-y-6 mb-24 pt-6">
		<div class="max-w-prose-full inline-block text-primary-text">
			{% portableTextToHTML text.text  %}
		</div>

		{% if text.links | length > 0 %}
			<span class="text-lg font-bold text-primary-text">Links: </span>
			{% for link in text.links %}
				<a href="{{ link.url }}" target="_blank" class="underline font-light hover:text-medium-accent">{{ link.linkText }}</a>
			{% endfor %}
		{% endif %}
	</div>

	<div class="w-full py-8 flex flex-row">
		{% if previousPost %}
			<span class="text-primary-text">← <a aria-label="Link to the previous item in collection- {{ previousPost.title }}" href="{{ previousPost.url | slug}}" class="hover:underline">
				{{ previousPost.data.text.title }}
			</a></span>	
		{% endif %} 
		{% if nextPost %}
			<span class="justify-self-end ml-auto text-primary-text"><a aria-label="Link to the next item in collection- {{ nextPost.title }}" href="{{ nextPost.url | slug}}" class="hover:underline">
				{{ nextPost.data.text.title }}
			</a> →</span>	
		{% endif %}
	</div>
</div>