{#
	Main footer component used across the site.
#}

<div id="footer" class="flex bottom-0 w-full z-10 justify-self-end mt-auto">
	<div class="main-padding w-screen py-8">
		{% include ("layouts/components/footers/footerContent.njk") %}
	</div>
</div>