{#
	Main footer component used across the site.
#}

<div id="footer" class="relative bottom-0 w-full z-10 py-12 justify-self-end">
	<div class="main-padding w-screen">
		{% include ("layouts/components/footers/footer-content.njk") %}
	</div>
</div>