@import '../../../node_modules/plyr/dist/plyr.css';

.vldx-success {
	@apply text-success-accent;
}

.vldx-failure {
	@apply text-failure-accent;
}

.plyr {
	@apply absolute inset-0;
}

.tag-button {
	&.active {
		@apply !text-primary-accent;
	}
}

.nav-item {
	&.active-page {
		@apply !text-primary-accent;
	}
}