{#
	Main header component used across the site.
#}

<header id="header" class="">
	<div class="fixed top-0 z-50 min-w-full bg-primary-bg">
		<div class="main-padding relative flex flex-row w-screen pt-header pb-header flex-nowrap items-stretch">

			<a aria-label="Site Title" class="font-bold whitespace-nowrap" href="/">
				<svg xmlns="http://www.w3.org/2000/svg"
					class="svg-theme-colour"
					width="250px" height="25px" viewBox="0 0 250 25">
					<text x="0" y="20" 
							fill="white"
							font-family="'Montserrat', sans-serif"
							font-weight="600"
							font-size="25">
						{{ site.siteSettings.title }}
					</text>
				</svg>
			</a>

			<div id="headerContentSpacer" class="w-auto grow self-stretch"></div>

			<div id="headerNav" class="relative flex flex-row">
				{% include ("layouts/components/headers/menuItems.njk") %}
			</div>

			<div class="main-padding absolute left-0 right-0 flex justify-end">
				{% include ("layouts/components/headers/mneuButton.njk") %}
				
			</div>
		</div>

		<div class="absolute left-0 right-0 bottom-0 mt-0.5 h-0.5 bg-opposite-bg"></div>
	</div>

	{# PADDING #}
	<div class="relative w-full h-[var(--header-total-height)] min-h-[var(--header-total-height)]"></div>

	{% include ("layouts/components/headers/menu.njk") %}
</header>
