{% set items = site.navigation.primaryNavigation %}
{% for navItem in items %}
	{% set navLink %}
		{% if navItem.slug == site.navigation.homePageSlug %}
			''
		{% else %}
			{{ navItem.slug }}
		{% endif%}
	{% endset %}
	
	<div class="relative block group leading-none
		{% if loop.last == false %}
			pr-16
		{% endif %}">
		<h6 class="relative z-10"><a href="/{{ navLink | slug }}" navID="{{ navLink | slug }}" class="nav-item relative z-10 transition-colors duration-200
			text-primary-text hover:text-medium-accent">
			{{ navItem.title }}
		</a></h6>
	</div>
	
{% endfor %}