{#
	Menu block separated from header for legibility
#}

<div id="menu-container" class="fixed z-40 min-w-full min-h-full pointer-events-none invisible
	after:absolute after:inset-0 after:bg-secondary-bg after:transition-opacity after:duration-300 after:opacity-0 after:-z-1">

	<div id="menu" class="flex h-screen md:h-auto transition-opacity duration-200 opacity-0 z-10">
		<div class="transition-all duration-500 flex flex-col md:justify-center z-10 w-full overflow-hidden md:flex-row">

			{# RIGHT SIDE WRAPPER #}
			<div class="relative transition-spacing duration-500 flex flex-col py-6 bg-secondary-bg w-full pt-10
				after:absolute after:left-0 after:right-0 after:bottom-0 after:mt-0.5 after:h-0.5 after:bg-primary-border">
				{# NAVIGATION CONTAINER #}
				<div class="relative flex w-screen main-padding h-full flex-col flex-wrap space-y-4">
					{% include ("layouts/components/headers/menuItems.njk") %}
					<div class="w-full z-10 pt-10">
						{% include ("layouts/components/footers/footer-content.njk") %}
					</div>
				</div>
			</div>
		</div>
	</div>
</div>