{#
	Projects Archive Block
#}

<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-0 md:gap-4">
	{% asyncEach project in section.items %}
		{% include "../../cards/projectsArchive-card.njk" %}
	{% endeach %}
</div>