{#
	Projects Archive Block
#}

<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-0 md:gap-4">
	{# 11ty only returns strings from shortcodes, so the data is added to the page data, hopefully this changes in the future #}
	{% set activeArchiveTags %}{% matchingArchiveItems projects.work, section.tags, sectionID, pageData %}{% endset %}

	{% asyncEach project in pageData.activeArchiveTags %}
		{% include "../../cards/projectsArchive-card.njk" %}
	{% endeach %}
</div>