{#
	Projects Archive Block
#}

<div class="flex max-w-prose-full">
	{% asyncEach text in pageData.content.items %}
		{% include "layouts/components/cards/textsArchive-card.njk" %}
	{% endeach %}
</div>