{% set cardTags -%}
	{%- for tag in project.projectTags -%}
		"{{ tag.title | slug }}"
		{%- if not loop.last -%},{%- endif -%}
	{%- endfor -%}
{%- endset %}

<a id="projectsArchive-card" href="/{{ site.navigation.archivePageSlug | slug }}/{{ project.slug | slug }}" 
class="group relative flex h-auto w-1/3" data-tags='[{{ cardTags }}]'>

	<div class="block relative w-full h-auto">
		{% image project.thumbnail, "lazy relative m-0 w-full h-auto min-w-full object-center object-cover", project.title %}
		<div class="relative w-full self-end py-6 z-10 border-t-2 border-primary-border">
			<span class="block text-2xl font-extrabold text-primary-text">{{ project.title }}</span>
		</div>
	</div>
	

</a>

