{% set dataTags -%}
	{%- for tag in text.tags -%}
		"{{ tag.title | slug }}"
		{%- if not loop.last -%},{%- endif -%}
	{%- endfor -%}
{%- endset %}

{% set textLink %}
/{{ site.navigation.archivePageSlug | slug }}/{{ text.slug | slug }}
{% endset %}

<div id="textsArchive-card" class="group relative flex h-auto w-full max-w-prose-full" data-tags='[{{ dataTags }}]'>

	<div class="block relative w-full h-auto">
		<div class="relative w-full z-10 border-2 border-primary-border p-4 shadow-inner-dark">
			<div class="flex flex-row items-end w-full">
				<a aria-label="Link to the text page for- {{ text.title }}" href="{{ textLink }}"
					class="text-2xl font-extrabold text-primary-text leading-tight">
					{{ text.title }}
				</a>
				<div class="relative hidden lg:block w-auto max-w-full px-4">
					{% from "layouts/utilities/projectDateTags.njk" import projectDateTags %}
					{{ projectDateTags(project=text) }}
				</div>
				<i class="fa-solid text-2xl fa-up-right-from-square self-center justify-self-end ml-auto"></i>
			</div>
			<div class="relative block lg:hidden w-auto max-w-full">
				{% from "layouts/utilities/projectDateTags.njk" import projectDateTags %}
				{{ projectDateTags(project=text) }}
			</div>
			<div class="relative hidden lg:block mt-3 pr-32">
				<span class="font-light line-clamp-2 text-primary-text">{{ text.description }}</span>
			</div>
		</div>
	</div>
</div>

