---
pagination:
  data: texts.internalTexts
  alias: text
  size: 1
  addAllPagesToCollections: true
layout: layouts/main.njk
tags: 
	- texts
permalink: "/{{ site.navigation.textsPrimaryArchiveSlug }}/{{ text.slug }}/index.html"
---
<article id="{{ text.title }}">
	{% extends "layouts/templates/single-text.njk" %}
</article>